*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
}

main{
    min-height: 100dvh;
    width: 100%;
    padding: 1em;
    background: #39297b;
    color: white;
}
form{
    padding-top: 2rem;
    height: 80px;
   display: flex;
   justify-content: center;
   padding-bottom: 1.5rem;
   font-weight: 600;
   align-items: center;
   /* background: #434989; */
   margin-bottom: 1rem;
}
h2{
    margin-top: 1rem;
    text-align: center;
    font-weight: 600;
}
form input{
    padding: 1rem 0.5rem; 
    width: 600px;
    border: 0px;
    border-radius: 5;
    background: rgba(83, 65, 65, 0.425);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px ;
    color: white;
    font-size: 1rem;
    outline: 0;

}

form input:focus{
    outline: none;
}

form button{
    padding: 1.1rem ;
    border: 0px;
    color: white;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background: #ff3929;
    outline: 0;
    cursor: pointer;
}
::placeholder{
    font-size: 0.7rem;
    color: aliceblue;
}

footer{
    display: flex;
    justify-content: center;
}
#show-more-btn{
    padding: 0.5rem 0.8rem ;
    border: 0;
    outline: 0;
    background: #ff3939;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    display: none;
}

div span{
    padding: 0.7rem 1rem;
    text-align: center;
    width: 8rem;
    background: rgba(94, 214, 13, 0.863);border-radius: 5px;

}